@model List<DTOs.DTOs.Envio.DTOEnvio>

@{
    ViewData["Title"] = "Envios";
}

@{
    <text>@ViewData["Message"]</text>
    <text>@ViewData["Error"]</text>
}

<div class="card shadow mb-4">
    <div class="card-header d-flex justify-content-between align-items-center py-3">
        <h1 class="m-0 font-weight-bold text-primary">Envíos</h1>
        <a asp-action="Create" class="btn btn-primary btn-sm">Crear nuevo</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model[0].Tipo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model[0].ClienteEmail)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model[0].NumeroTracking)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model[0].Peso)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model[0].Estado)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tipo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClienteEmail)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NumeroTracking)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Peso)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Estado)
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-primary">
                                    <i class="fas fa-edit"></i> Detalles
                                </a>
                                <a asp-action="FinalizarEnvio" asp-route-id="@item.Id" class="btn btn-sm btn-danger">
                                    <i class="fas fa-trash-alt"></i> Finalizar
                                </a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>